openMSP430*map
openMSP430*gise
openMSP430*txt
openMSP430*csv
openMSP430*xml
openMSP430*btn
openMSP430*drc
openMSP430*ngr
openMSP430*pad
openMSP430*par
openMSP430*xpi
openMSP430*nar
openMSP430*twr
openMSP430*twx
openMSP430*ngc
openMSP430*ngd
openMSP430*ncd
openMSP430*xst
openMSP430*lso
openMSP430*bgn
openMSP430*prj
openMSP430*mrp
openMSP430*ngm
openMSP430*xrpt
openMSP430*pcf
openMSP430*bld
openMSP430*stx
openMSP430*syr
openMSP430*cmd_log
openMSP430*ut
openMSP430*unroutes
openMSP430*xwbt
*html
openmsp430.gise
webtalk.log
webtalk_pn.xml
_ngo/
xst/
xlnx_auto_0_xdb/
_xmsgs/
iseconfig/
